@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');




/*botões*/

body{
    font-family: 'Raleway', sans-serif;
}

.btn{
    font-size:16px;
    font-weight:normal;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    border:1px solid #AEC17D;
    padding:9px 18px;
    text-decoration:none;
    display:inline-block;
    cursor: pointer;
}

.btn-contact{
    background-color:#AEC17D;
    color:#2A3A45;
}
.btn-contact:hover{
    background-color: #66c14f;
}

.btn-gallery{
    background-color: #fff;
    color: #AEC17D;
}
.btn-gallery:hover{
    background-color: #AEC17D;
    color: #fff;
}

.btn-form{
    background-color: #B2BD7E;
    color: #2a3a4f;
    font-weight: bold;
}
.btn-form:hover{
    background-color: #66c14f;
}

/*header*/
header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: #2a3a4f;
    color: #9eb9ba;
}

/*nav*/
.nav{
    text-align: center;
    text-transform: uppercase;
}

.nav ul li{
    display: inline;
    padding: 25px;
}

.nav a{
    color: #ccc;
    text-decoration: none;
}
.nav a:hover{
    color: #FFFFFF;
}

/*conheça nossa empresa*/
.to-center{
    height: auto;
    margin: 0 auto 0 auto;
    text-align: center;
}

@media (min-width: 728px) {
    .to-center{
        display: table;
    }
}
.about{
    background-color: #AEBFA7;
    height: auto;
    padding: 50px;
    color: #2A3A45;
}

.about .title{
    margin-bottom: 20px;
}
.about .content{
    margin-bottom: 50px;
}

/*titulos*/
.title span.t1{
    font-size: 25pt;
}
.title span.t2{
    font-size: 45pt;
    font-weight: bold;
}

.title h2{
    font-size: 25pt;
}
.title h1{
    font-size: 45pt;
    font-weight: bold;
}


.about .title .t1{
    color: #fff;
}
.about .title .t2{
    color: #2A3A45;
}


/*Missão, Visão, Valores*/
/*box-info*/
.box-info{
    width: 300px;
    height: auto;
    background-color: #2A3A45;
    display: inline-block;
    margin-right: 50px;
    padding: 10px;
}

@media (min-width: 1280px) {
    .box-info{
        width: 300px;
        padding: 25px;
    }
}
@media (max-width: 980px) {
    .box-info{
        width: 80%;
        padding: 25px;
        display: table;
        margin: 0 auto 0 auto;
        margin-bottom: 10px;
    }
}

.box-info span.title{
    font-weight: bold;
    color: #fff;
    margin-bottom: 50px;
}


.box-info span.content{
    color: #96A2A2;
    font-size: 8pt;
}


/*Contato*/

.contact{
    background-image: url("../images/bg_01.png");
    height: auto;
    padding-top: 80px;
}

.contact .title{
    font-weight: bold;
    font-size: 45pt;
    color: #fff;
    margin-bottom: 80px;
}
.contact .content{
    font-size: 10pt;
    color: #AEC17D;
    width: 30%;
    margin: 0 auto 0 auto;
    margin-bottom: 50px;
}

.contact .but{
    margin-bottom: 50px;
}



/*Produtos*/

.products{
    background-color: #AEBFA7;
}

.products .title{

    padding-top: 50px;
    padding-bottom: 20px;
}
.products .title .t1{

    color: #2A3A45;
}
.products .title .t2{
    font-size: 55pt;
    color: #F0F8ED;
}

.products .content{
    width: 25%;
    margin: 0 auto 0 auto;
    font-size: 10pt;
    padding-bottom: 50px;
}

/*Galeria de Produtos*/
.gallery{
    margin: 0 auto 0 auto;
    width: 50%;
}
.gallery .container{
    width: auto;
    height: auto;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 10px;
}
.gallery .container .picture img{
    height: auto;
    max-width: 100%;
}

.gallery .container .title{
    font-weight: bold;
    padding: 0;
    color: #AEC17D;
    margin-bottom: 10px;
}

.gallery .container .content{
    width: 100%;
    font-size: 10pt;
}

@media (max-width: 980px) {
    .gallery .container{
        display: table;
    }
}

/*Novidades*/

.news{
    margin: 0 auto 0 auto;
    background-color: #F1F8EE;
}

.news .title h1{
    color: #223843;
    padding-bottom: 50px;
}
.news .title h2{
    padding-top: 50px;
    color: #B0BEA9;
}

.news .container{
    width: 50%;
    height: auto;
    margin-bottom: 25px;
}

.news article .title{
    color: #223843;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
}
.news article .content{
    clear: both;
    color: #223843;
    font-size: 10pt;
    text-align: left;
}

/*Formulario*/

.contact-form{
    background-image: url("../images/bg_02.png");
    padding: 25px;
}

.contact-form .title{
    color: #fff;
    padding-bottom: 20px;
}

.contact-form span{
    color: green;
    font-weight: bold;
    font-size: 25pt;
    padding: 50px;
}

.contact-form .content{
    width: 50%;
    margin: 0 auto 0 auto;
}
.contact-form input, textarea{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}
